* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1em;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.header {
  width: 100%;
  background-color: #343f56;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -o-object-position: center;
     object-position: center;
}

.header__top {
  padding: 10px 5px;
}

.header__top-logo {
  font-size: 2.5em;
  font-weight: bold;
  color: #fdfdfd;
  text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8), -3px 0px 7px rgba(255, 255, 255, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);
}

.header__top .wrapper-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__top .btn-menu {
  display: none;
}

.header__top p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

.header__top a, .header__top a:hover, .header__top a:focus {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__top #sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__top #sidebar .sidebar-header {
  padding: 20px;
}

.header__top #sidebar ul.components {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top #sidebar ul p {
  color: #fff;
  padding: 10px;
}

.header__top #sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

.header__top #sidebar ul li a:hover {
  background: #343f56;
}

.header__top #sidebar ul li.active > a, .header__top a[aria-expanded="true"] {
  color: #fff;
}

.header__top ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

.header__bottom {
  padding: 130px 5px;
}

.header__bottom .box-sd {
  -webkit-filter: drop-shadow(5px 6px 3px rgba(50, 50, 0, 0.5));
          filter: drop-shadow(5px 6px 3px rgba(50, 50, 0, 0.5));
}

.header__bottom-left {
  background: white;
  padding: 40px;
  -webkit-clip-path: polygon(0% 0%, 83% 0, 100% 50%, 83% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 83% 0, 100% 50%, 83% 100%, 0% 100%);
}

.header__bottom-left a {
  display: inline-block;
  text-decoration: none;
  color: #ac0d0d;
  padding: 10px 20px;
  background: #fbe6c2;
  border-radius: 5px;
  font-weight: bold;
}

.header__bottom-right {
  height: 450px;
}

.header__bottom-right img {
  width: 75%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.section {
  padding: 10px 5px;
}

.section__about {
  text-align: center;
  padding: 70px 0px;
  letter-spacing: 5px;
}

.section__content {
  margin-bottom: 50px;
}

.section__content-image img {
  width: 100%;
}

.section__content-text h3 {
  margin-bottom: 20px;
  opacity: 0;
}

.section__content-text p {
  line-height: 1.6;
  opacity: 0;
}

.section__content-text a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fbe6c2;
  color: #ac0d0d;
}

.footer {
  background-color: #343f56;
}

.footer__title {
  color: white;
  text-align: center;
  padding: 15px;
  text-transform: capitalize;
}

.footer p {
  color: white;
  text-align: center;
  padding: 20px 0px;
  font-size: 20px;
}

@media (max-width: 575.98px) {
  .header {
    position: relative;
  }
  .header__top .btn-menu {
    display: block;
  }
  .header__top #sidebar {
    margin-right: -459px;
    width: 50vw;
    position: absolute;
    z-index: 1;
    top: 118px;
    border-top: 1px solid #e26565;
  }
  .header__top .components {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #343f56;
  }
  .header__top #sidebar.active {
    margin-right: 0;
  }
  .header__top #sidebarCollapse {
    margin-top: 10px;
  }
  .header__top li {
    text-align: center;
  }
  .header__bottom {
    padding: 44px 5px;
  }
  .header__bottom-left {
    position: relative;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 75% 85%, 55% 100%, 52% 85%, 0 85%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 75% 85%, 55% 100%, 52% 85%, 0 85%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__bottom-left h1 {
    font-size: 22px;
  }
  .header__bottom-left p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .header__bottom-left a {
    width: 30%;
    margin-bottom: 18px;
  }
  .header__bottom-right {
    text-align: center  !important;
    margin-top: 20px;
  }
  .header__bottom-right img {
    width: 100%;
    height: 75%;
  }
  .section {
    border-bottom: 1px solid #f1e0e0;
    margin-bottom: 30px;
  }
  .section1 .row, .section3 .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer p {
    padding: 5px;
    margin: 0;
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */