$background: #343f56;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}
.d-flex{
    display: flex;
    align-items: center;
}
.wrapper{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.header{
    width: 100%;
   
    background-color: $background;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-position: center;
 
     &__top{
        padding: 10px 5px;
        &-logo{
            font-size: 2.5em;
            font-weight: bold;
            color: #fdfdfd;
            text-shadow: 3px 0px 7px rgba(81,67,21,0.8), 
            -3px 0px 7px rgba(255, 255, 255, 0.8), 
            0px 4px 7px rgba(81,67,21,0.8);
         
            
        }
        .wrapper-menu{
            display: flex;
            width: 100%;
            align-items: stretch;
            justify-content: flex-end;
        }
        .btn-menu{
            display: none;
        }
        #sidebar {
          
          
        }
     
        
     
        p {
            font-family: 'Poppins', sans-serif;
            font-size: 1.1em;
            font-weight: 300;
            line-height: 1.7em;
            color: #999;
        }
        
        a, a:hover, a:focus {
            color: inherit;
            text-decoration: none;
            transition: all 0.3s;
        }
        
        #sidebar {
            /* don't forget to add all the previously mentioned styles here too */
    
            color: #fff;
            transition: all 0.3s;
        }
        
        #sidebar .sidebar-header {
            padding: 20px;
  
        }
        
        #sidebar ul.components {
            padding: 20px 0;
            display: flex;
      
        }
        
        #sidebar ul p {
            color: #fff;
            padding: 10px;
        }
        
        #sidebar ul li a {
            padding: 10px;
            font-size: 1.1em;
            display: block;
        }
        #sidebar ul li a:hover {
     
            background: #343f56;
        }
        
        #sidebar ul li.active > a, a[aria-expanded="true"] {
            color: #fff;
      
        }
        ul ul a {
            font-size: 0.9em !important;
            padding-left: 30px !important;
            background: #6d7fcc;
        }
  
    }
    &__bottom{
        padding: 130px 5px;
        .box-sd{
            filter: drop-shadow(5px 6px 3px rgba(50, 50, 0, 0.5));
        }
        &-left{
            background: white;
            padding: 40px;
            clip-path: polygon(0% 0%, 83% 0, 100% 50%, 83% 100%, 0% 100%);
            a{
                display: inline-block;
                text-decoration: none;
                color: #ac0d0d;
                padding: 10px 20px;
                background: #fbe6c2;
                border-radius: 5px;
                font-weight: bold;
            }
        }
        &-right{
            height: 450px;
           
           
            img{
                width: 75%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover; 
                 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
        }
    }
}
.section{
    &__about{
        text-align: center;
        padding: 70px 0px;
        letter-spacing: 5px;
    }
    padding: 10px 5px;
    &__content{
        margin-bottom: 50px;
        &-image{
            
            img{
                width: 100%;
            }
        }
        &-text{
            h3{
                margin-bottom: 20px;
                opacity: 0;
            }
            p{
                line-height: 1.6;
                opacity: 0;
            }
            a{
                display: inline-block;
                text-decoration: none;
                padding: 10px 20px;
                border-radius: 5px;
                background-color:#fbe6c2;
                color: #ac0d0d;
            }
        }
    }
}
.footer{
    background-color: $background;
    &__title{
        color:white;
        text-align: center;
        padding: 15px;
        text-transform: capitalize;
        
    }
    p{
        color: white;
        text-align: center;
        padding: 20px 0px;
        font-size: 20px;
    }
}

@media (max-width: 575.98px) { 
 
    .header{
        position: relative;
        &__top{
            .btn-menu{
                display: block;
            }
            #sidebar {
                margin-right: -459px;
                width: 50vw;
                position: absolute;
                z-index: 1;
                top: 118px;
                border-top: 1px solid rgb(226, 101, 101);

            }
            .components{
                flex-direction: column;
                background-color: #343f56;
            }
            #sidebar.active {
                margin-right: 0;
            }
            #sidebarCollapse{
                margin-top: 10px;
            }
            li{
                text-align: center;
            }
        }
        &__bottom{
            padding: 44px 5px;
            &-left{
                position: relative;
                clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 75% 85%, 55% 100%, 52% 85%, 0 85%);
                display: flex;
                flex-direction: column;
            
                h1{
                   font-size: 22px;
                }
                p{
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                }
                a{
                    width: 30%;
                    margin-bottom: 18px;
                }
            }
            &-right{
                text-align: center  !important;
                margin-top: 20px;
                img{
                    width: 100%;
                    height: 75%;
                }
            }
        }
       
    }
    .section{
        border-bottom: 1px solid rgb(241, 224, 224);
        margin-bottom: 30px;
    }
    .section1 .row, .section3 .row{
        display: flex;
        flex-direction: column-reverse;
    }
    .footer{
        p{
            padding: 5px;
            margin: 0;
            font-size: 16px;
        }
    }
 }

